/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del título */
h1 {
    text-align: center;
    color: white;
    padding: 20px;
    background-color: blueviolet;
    font-style: italic;
}

/* Contenedor del label */
.container-label {
    display: flex;
    justify-content: center;
    padding: 30px;
}

/* Estilos del label */
.dato-usuario {
    font-size: 23px; 
    color: #333;
    font-weight: bold; 
    background-color: #af8aee;
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); 
}

/* Contenedor del input */
.container-input {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Estilos del input */
input[type="text"] {
    font-size: 18px; 
    padding: 10px; 
    border: 2px solid #af8aee;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    outline: none; 
    transition: border-color 0.3s, box-shadow 0.3s; 
}

input[type="text"]:focus {
    border-color: rgb(43, 150, 226); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
}

/* Contenedor del botón */
.container-button {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Estilos del botón */
.btn-conversor {
    padding: 20px 30px;
    background-color: blueviolet;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); 
}

.btn-conversor:hover {
    background-color: rgb(0, 130, 211);
    transform: scale(1.1);
}

/* Estilos de los resultados */
.grados-kelvin,
.grados-fahrenheit {
    text-align: center;
    padding: 20px; 
    font-size: 20px; 
    color: #333; 
    background-color: #f3e8ff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 10px 0; 
    font-style: italic; 
    transition: transform 0.3s;
}

.grados-kelvin:hover,
.grados-fahrenheit:hover {
    transform: scale(1.05);
}
